*{
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    width: 500px;
    padding: 20px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.right-bar {
    background-color: hsl(221, 100%, 96%);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 42px;
    padding: 20px;
    border-radius: 20px;
    
    
}

.white {
    color: white;
}


h2 {
    margin-left: 20px;
}


.left-bar {

    background:linear-gradient( to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%))  ;
    flex: 1;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
}


.circle-area {
    border: 1px solid blue;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    line-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(241, 81%, 54%);
    
    
    
    
    
}

p {
    color: white;
}

.circle-area div {
    font-size: 5rem;
}


img {
    margin-left: 20px;
}


.continue {
    background-color: rgb(24, 24, 58);
    border: 1px solid hsla(241, 72%, 46%, 0);
    border-radius: 40px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    color: white;
}




table {
    padding: 10px;
}