*{
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    width: 500px;
    padding: 20px;
    background-color: red;
    border-radius: 20px;
}

.right-bar {
    background-color: pink;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 42px;
    padding: 20px;
    
    
}

.white {
    color: white;
}


h2 {
    margin-left: 20px;
}


.left-bar {

    background-color:hsl(241, 81%, 54%) ;
    flex: 1;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.circle-area {
    border: 1px solid blue;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    line-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
    
    
}

.circle-area div {
    font-size: 5rem;
}


img {
    margin-left: 20px;
}


.continue {
    background-color: hsla(241, 72%, 46%, 0.6);
    border: 1px solid hsla(241, 72%, 46%, 0);
    border-radius: 40px;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 50px;
    color: white;
    
    
}

.continue:hover {
    background-color: hsla(241, 72%, 46%, 1);
}

table {
    padding: 10px;
}